.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
}

.formContainer {
  padding: 2rem;
  width: 100%;
  max-width: 400px;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 1rem;
}
