.input {
  width: 50%;
}

.bigInput {
  width: 100%
}

.preview-image-background {
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
  position: relative;
}

.clear-preview-image-button {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 34px;
  height: 34px;
}