.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.formContainer {
  width: 100%;
}

.loading {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.hidden {
  display: none;
}